@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "StarWarsGlyphicons";
    src: url("./fonts/starwars-glyphicons-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  html,
  body,
  #root {
    @apply bg-black h-full text-white antialiased;
    font-family: "Poppins", sans-serif;
  }

  ::-webkit-scrollbar {
    @apply rounded-full w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full w-2 bg-white/25;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/50;
  }
}
